[Aa]pp.config
[Ww]eb.config
.arch/
*.zip
obj/
fcmd/stolen-opensource-libs/
release/
bin/
*.exe
*.dll
*.exe.config
xwt/Testing/
*.nuspec
obj
*~
*.sln.cache
*.suo
*.user
*.dotCover
*.pidb
*.userprefs
*.usertasks
*.mdb
.DS_Store
test-results 
monomac/monomac/
xwt/Test/
xwt/TestApps/
xwt/lib/nunit.framework.xml
